* {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

img {
  display: block;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}
ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1158px;
  padding: 0 15px;
  margin-right: auto;
  margin-left: auto;
}
header {
  border-bottom: 1px solid #e7e9fc;
}
/*.headertop {display: flex;
            align-items: center;}*/

.header-nav {
  display: flex;
  align-items: center;
}
.nav-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.contacts {
  margin-left: auto;
}

.contacts-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header-logo {
  padding: 24px 0;
  margin-right: 76px;
}

.one {
  border-bottom: 1px solid #e7e9fc;
  display: flex;
  align-items: center;
  width: 1158px;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.header-logo .logo-part {
  color: #2e2f42;
}

.nav-link {
  display: flex;
  padding: 24px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  transition: color 500ms ease;
}

.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}
.nav-link-one {
  display: block;
  transition: background-color 500ms ease-in-out;
}
.nav-link-one:hover::after {
  content: "";
  display: block;
  height: 4px;
  width: 48px;
  background-color: #404bbf;
}
address {
  font-style: normal;
}

.contacts-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 500ms ease;
}

.contacts-link:hover,
.contacts-link:focus {
  color: #404bbf;
}
.title {
  max-width: 496px;
  height: 120px;
  margin: auto;
  margin-bottom: 48px;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
}

.hero {
  display: flex;
  flex-direction: column;
  height: 600px;
  align-items: center;
  padding: 188px 0;
  background-image: linear-gradient(
      to top,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/herofon.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.button {
  font-family: "Roboto", sans-serif;
  background-color: #4d5ae5;
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.64px;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 0 auto;
  display: block;
  transition: background-color 500ms ease;
}

.button:hover,
.button:focus {
  background-color: #404bbf;
}

h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}
.sectiontwo {
  padding: 120px 0 120px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.titletwo {
  margin-bottom: 8px;
  margin-bottom: 72px;
}

.sectiontwo-list {
  display: flex;
  gap: 24px;
  padding: 120px 0;
  width: calc(100%- (24 * 3) / 4);
}

.sectiontwo-points {
  display: flax;
  width: calc((100% - 72px) / 4);
  height: 224px;
  border-radius: 0px 0px 4px 4px;
}
.icon {
  margin-left: 102px;
  margin-bottom: 8px;
}

.sectiontwo-title {
  text-align: center;
  margin-bottom: 8px;
}

.sectionthree {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 72px;
  background: #f4f4fd;
  height: 732px;
  padding: 120px 0 120px 0;
}

h2 .sectionthree .titletwo {
  display: block;
  margin-left: 639px;
  margin-right: 639px;
  width: 162px;
  height: 40px;
}

.sectionthree-backgr {
  display: flex;
  gap: 24px;
  width: calc(100%- (24 * 3) / 4);
  background: #f4f4fd;
  border-radius: 0 0 4px 4px;
  padding: 0px 0px 32px 0px;
  background: #fff;
}

.sectionthree-list {
  display: flex;
  flex-direction: column;
  justify-items: center;
  width: 264px;
  height: 380px;
  border-radius: 0 0 4px 4px;
  padding: 0px 0px 32px 0px;
}
.job {
  padding: 32px 0;
}

.social-links {
  display: flex;
  gap: 24px;
  flex-shrink: 0;
  align-self: flex-end;
}
.social-links .link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
}
.social-links .icon-social {
  fill: #ffffff;
}

.sectionfour-backgr {
  background: #fff;
}

.sectionthree {
  text-transform: capitalize;
}

.titlefour {
  text-transform: capitalize;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}

.sectionthree-list {
  background-color: #ffffff;
}

.sectiontwo-paragraf {
  text-align: center;
  font-size: 16px;
}

.sectionfour {
  padding-top: 120px;
  padding-bottom: 120px;
}
.sectionfour-backgr {
  width: 1128px;
  padding: 120px 0 120px 0;
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  height: 1000px;
}
.info {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.sectionfour-title {
  margin-bottom: 8px;
}
.sectionfour-list {
  position: relative;
  overflow: hidden;
}

.card-overlay {
  position: absolute;
  top: 0;
  right: 0;
  width: 360px;
  height: 300px;
  color: #f4f4fd;
  background-color: #4d5ae5;
  padding: 40px 32px 164px 32px;
  transform: translateY(100%);
  overflow: auto;
  translate: transform 250ms;
}
.sectionfour-list:hover .card-overlay {
  transform: translateY(0);
}
.page-footer {
  display: flex;
  background: #2e2f42;
  padding: 100px 0px;
}
.logo-footer {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  margin-bottom: 16px;
  display: inline-block;
}
.logo-part-footer {
  color: #f4f4fd;
}
.footer-text {
  color: #f4f4fd;
  max-width: 264px;
  height: 72px;
}
.titlefooter {
  color: #ffffff;
  padding-bottom: 16px;
}
.media {
  height: 80px;
  position: relative;
  right: 692px;
}
.social-links-footer {
  display: flex;
  gap: 24px;
  flex-shrink: 0;
  align-self: flex-end;
}
.social-links-footer .link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 500ms ease;
}
.social-links-footer .icon-social {
  fill: #ffffff;
}
.social-links-footer .link:hover,
.social-links-footer .link:focus {
  background-color: #31d0aa;
}
